@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Peers</h1>
    <p>I hope you enjoy!</p>
    <img class="mx-auto" src="~/lib/download.jpg">
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Todos" asp-action="Index">Click me</a></p>

    
</div>
